<!--Big thanks to https://github.com/bezkoder/angular-material-17-file-upload/tree/master-->
<div class="container-min-width">
  @if (progressState) {
    <mat-toolbar class="progress-bar">
      <mat-progress-bar color="accent" [value]="progressState"></mat-progress-bar>
      <span class="progress">{{ progressState }}%</span>
    </mat-toolbar>
  }

  <div class="v-space-1"></div>

  <div class="drop-area-container" appDragNDrop (fileDropped)="onFilesDropped($event)">
    <input hidden type="file" #fileDropRef id="fileDropRef" multiple (change)="fileSelectedHandler($event)">
    <mat-icon class="drag-and-drop" aria-label="drag&drop" fontIcon="backup"></mat-icon>

    <div class="v-space-1"></div>

    <div>Drag and drop files here</div>

    <div class="v-space-half"></div>

    <div>or</div>

    <div class="v-space-half"></div>

    <button mat-raised-button (click)="fileDropRef.click()" [disabled]="areFilesBeingUploaded">click to select</button>
  </div>

  <div class="v-space-1"></div>



  @if (message) {
    <div class="message">
      {{ message }}
    </div>
  }


  <mat-card class="example-card">
    <mat-card-header>
      <h2>List of Files:</h2>
    </mat-card-header>

    <mat-card-content>
      <mat-list role="list">
        @for (file of selectedFiles; track file.name) {
          <mat-list-item role="listitem">
            <div class="row">
              <div>{{ file.name }}</div>
              <button mat-mini-fab (click)="deleteFile(file)" style="transform: scale(0.75);">
                <mat-icon fontIcon="delete" ></mat-icon>
              </button>
            </div>
          </mat-list-item>
        } @empty {
          No file(s) were selected.
        }
      </mat-list>
    </mat-card-content>
  </mat-card>

  <div class="v-space-1"></div>


  <div class="actions">

    @if (selectedFiles && selectedFiles.length > 0) {
      <button mat-flat-button color="warn" [disabled]="false" (click)="clearSelectedFiles()">Clear selection</button>
    }
    <button mat-flat-button color="primary" [disabled]="!currentFile" (click)="uploadFile()">Upload</button>

  </div>

</div>
